/* साइडनव स्टाइल */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

/* क्लोज बटन स्टाइल */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  text-decoration: none;
  color: #3e2723;
}

/* मेनू लिंक्स / बटन्स की कॉमन स्टाइल */
.sidenav a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #3e2723;
  display: block;
  transition: 0.3s;
}

/* होवर इफ़ेक्ट (चाहें तो जोड़ सकते हैं) */
.sidenav a:hover {
  background-color: #f1f1f1;
}
